.signup-container{
  width: 100%;
  padding: 5%;
  background-image: url('./../../../assets/pages/login-assets/backgroundIMG.png');
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;

  display: flex;
  .signup-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    .signup-form-container{
      width: 80%;
      padding: 5% 10%;
      // width: max(600px, 30vw);
      height: 100%;
      border-radius: 25px;
      background-color: white;
      display: flex;
      flex-direction: column;
      gap: 35px;
      .signup-title{
        display: flex;
        flex-direction: column;
        gap:15px;
        h3{
          font-family: prompt-light;
          font-size: 30px;
        }
        p{
          font-family: prompt-light;
          font-size: 16px;
          color: #ADB5BD;
        }
      }
      .signup-form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 17px;
        .fullname-container,
        .email-container,
        .password-container,
        .confirm-password-container{
          height: 55px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px 17px;
          gap: 10px;
          border: 1px solid #ADB5BD;
          border-radius: 27.5px;
          input{
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            font-family: prompt-light;
            font-size: 17px;
            margin-left: 6px ;
          }
        }
        .fullname-container{
          padding: 5px 24px;
        }
        .password-container,
        .confirm-password-container{
          padding: 5px 22px;
        }
        .form-checkers{
          display: flex;
          flex-direction: column;
          .remember-check{
            display: flex;
            align-items: center;
            margin: 25px 0;
            gap: 20px;
            .check-container{
              width: 23px;
              height: 23px;
              display: flex;
              align-items: center;
              justify-content: center;

              border: 1px solid #DBD3D3;
              border-radius: 50%;

              cursor: pointer;
            }
            p{
              color: #0F0D0D;
              font-size: 14px;
              font-family: prompt-light;
              a{
                color: #0F51C5;
              }
            }
          }
        }
        .signup-info{
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 15px;
          align-items: center;
          .signup-btn{
            background-color: #1ED47F;
            height: 55px;
            width: 100%;

            cursor: pointer;
    
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 27.5px;
            p{
              font-family: prompt-light;
              font-size: 18px;
              color: #FFF;
              text-align: center;
            }
            &:hover{
              transition: ease-in-out 0.2s;
              width: 90%;
            }
          }
          p{
            text-align: center;
            font-family: prompt-light;
            font-size: 14px;
            color: #747C87;
            a{
              color:#0F51C5;
              text-decoration: underline;
            }
          }
        }

      }
      .signup-links{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5%;
        .icon-container{
          width: 30px;
          height: 30px;
          a{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  .signup-right{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .test-container{
      position: absolute;
      top: 2%;
      right: 22%;
      width: 25%;
      height: 75%;
      content: url('./../../../assets/pages/signup-assets/iphone-scr.png');
    }
    .chair-container{
      position: absolute;
      bottom: 27%;
      right: 16%;
      width: 17%;
      height: 37%;
      content: url('./../../../assets/pages/signup-assets/chair-screen.png');
    }
    .rocket-container{
      position: absolute;
      width: 90%;
      height: 100%;
      content: url('./../../../assets/pages/signup-assets/rocket.png');
    }
  }

  @media(max-width: 1490px) {
    .signup-left{
      .signup-form-container{
        gap: 20px;
        .signup-title{
          gap: 5px;
          h3{
            font-size: 24px;
          }
          p{
            font-size: 14px;
          }
        }
        .signup-form{
          gap: 12px;
          .email-container,
          .password-container,
          .fullname-container,
          .confirm-password-container{
            padding: 5px 15px;
            height: 32.5px;
            img{
              height: 75%;
            }
            input{
              height: 75%;
              font-size: 14px;
            }
          }
          .email-container{
            img{
              width: 18px;
            }
          }
          .password-container,
          .confirm-password-container{
            padding: 4px 15px;
          }
          .form-checkers{
            p{
              font-size: 10px;
            }
            .remember-check{
              gap: 10px;
              margin: 5px;
              .check-container{
                width: 18px;
                height: 18px;
                img{
                  width: 50%;
                  height: 50%;
                }
              }
              p{
                font-size: 10px;
              }
            }
          }
          .signup-info{
            .signup-btn{
              height: 32.5px;
              p{
                font-size: 16px;
              }
            }
            p{
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  @media(max-width: 920px){
    .signup-left{
      width: 60%;
    }
    .signup-right{
      width: 40%;
    }
  }

  @media(max-width: 768px) {
    .signup-left{
      width: 100%;
      margin: 10% 0;
    }
    .signup-right{
      display: none;
    }
  }

  @media(max-width: 430px) {
    .signup-left{
      width: 100%;
      .signup-form-container{
        width: 80%;
        gap: 15px;
        .signup-title{
          gap: 0px;
          h3{
            font-size: 20px;
          }
          p{
            font-size: 10px;
          }
        }
        .signup-form{
          gap: 10px;
          .email-container,
          .password-container,
          .fullname-container,
          .confirm-password-container{
            padding: 4px 10px;
            height: 30px;
            img{
              height: 75%;
            }
            input{
              height: 75%;
              font-size: 14px;
            }
          }
          .email-container{
            img{
              width: 18px;
            }
          }
          .password-container{
            padding: 4px 15px;
          }
          .form-checkers{
            p{
              font-size: 10px;
            }
            .remember-check{
              gap: 10px;
              margin: 5px;
              .check-container{
                width: 18px;
                height: 18px;
                img{
                  width: 50%;
                  height: 50%;
                }
              }
              p{
                font-size: 10px;
              }
            }
          }
          .signup-info{
            .signup-btn{
              height: 30px;
              p{
                font-size: 10px;
              }
            }
            p{
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}