*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Fonts ---------------- */
@font-face {
  font-family: courierprime-reg;
  src: url('../src/fonts/CourierPrime-Regular.woff');
}

@font-face {
  font-family: prompt-light;
  src: url('../src/fonts/Prompt-Light.woff');
}

@font-face {
  font-family: prompt-medium;
  src: url('../src/fonts/Prompt-Medium.woff');
}

@font-face {
  font-family: prompt-semibold;
  src: url('../src/fonts/Prompt-SemiBold.woff');
}

@font-face {
  font-family: prompt-bold ;
  src: url('../src/fonts/Prompt-Bold.woff');
}

@font-face {
  font-family: sf-display-bold;
  src: url('../src/fonts/SF-Pro-Display-Bold.woff');
}
@font-face {
  font-family: sf-display-reg;
  src: url('../src/fonts/SF-Pro-Display-Regular.woff');
}
@font-face {
  font-family: sf-display-semibold;
  src: url('../src/fonts/SF-Pro-Display-Semibold.woff');
}
@font-face {
  font-family: sf-text-semibold;
  src: url('../src/fonts/SF-Pro-Text-Semibold.woff');
}
@font-face {
  font-family: urbanist-light;
  src: url('../src/fonts/Urbanist-Light.woff');
}
@font-face {
  font-family: urbanist-medium;
  src: url('../src/fonts/Urbanist-Medium.woff');
}
